header {
    height: 100%;
}

.bienvenida{
    width: 98%;
    color: #fff;
    border-bottom: solid 1px;
    padding: 10px;
    margin-bottom: 10px;
}

.bienvenida span{
    font-size: var(--font-size-20);
}

.bienvenida span h6{
    display: inline-block;
}


li {
    list-style: none;
    border-radius: 10px;
    display: flex;
    padding: 0.5px 20px;
    align-items: center;
}

li:hover{
    background-color: var(--color-select);;
}


a {
    font-size: var(--font-size-14);
    text-decoration: none;
}

a:link{
    color: #fff;
}

.nav-item svg{
    fill: white;
    flex-shrink: 0;
}

.nav-item:hover svg {
    fill: #fff;
}

ul{
    text-align: start;
}

