header {
    height: 100%;
}


li {
    list-style: none;
    border-radius: 10px;
    display: flex;
    padding: 0.5px 20px;
    align-items: center;
}

li:hover{
    background-color: var(--color-select);;
}


a {
    font-size: var(--font-size-14);
    text-decoration: none;
}

a:link{
    color: #fff;
}

.nav-item svg{
    fill: white;
}

.nav-item:hover svg {
    fill: #fff;
}


.layout-container{
    height: 100vh;
	background: var(--color-primario);
	display: flex;
	justify-content: space-between;
    padding: 30px 10px;
}

ul{
    text-align: start;
}